

<div class="form-group">
  <div class="col-xs-10 col-xs-offset-1">
    <%= text_field_tag(:date, @date  , :class => 'datepicker form-control' , :placeholder =>"Fecha") %>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-10 col-xs-offset-1">

    <%= text_field_tag(:time, @time ,:class => "timepicker form-control" , :placeholder=>"Hora") %>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-10 col-xs-offset-1">
    <%= f.select(:people, [],{:include_blank => 'Numero de Personas'},{ :class=>"form-control"}) %>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-offset-2 col-xs-8">
  <%= f.hidden_field(:branch_id) %>
    <%= hidden_field_tag(:restaurant_id) %>
     <%= hidden_field_tag(:table_id) %>
     <%= hidden_field_tag :time_zone,"UTC", :readonly =>true,:class => "form-control" %>
    <button id="submit-button" type="submit" class="form-control" data-trigger="focus" data-loading-text="Loading..." onclick="checkAvailability(0); return false;"><strong>3 | </strong>Reserva</button>
  </div>
</div>