
    <div class="container-fluid content">
      <div class="breadcrumb">Inicio 
      <% if user_signed_in? %>
      <strong> | <%= current_user.name %></strong>
      <% end %>
      
      </div>
      <div class="row height100">
        <div class="col-md-3 white height100 ">
          <div class="row logo-container">
            <div class="col-xs-4 col-xs-offset-4 col-md-8 col-md-offset-2">
              <img src="/assets/logo.png" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="col-md-5 yellow height100">
          <div class="heading row">
            <h1 class="col-xs-4 col-sm-6 col-lg-5  col-xs-offset-1">
              <strong>1 | </strong>Elige
            </h1>
            <div class="col-xs-3  ">
              <img src="/assets/arrow-down-right.png" class="img-responsive">
            </div>
          </div>
          <ul class="tab-controls nav nav-pills" role="tablist">
            <li role="presentation" class="col-xs-6 tab-button active"><a href="#restaurante" aria-controls="restaurante" role="tab" data-toggle="tab">Restaurante</a></li>
            <li role="presentation" class="col-xs-6 tab-button"><a href="#discoteca" aria-controls="discoteca" role="tab" data-toggle="tab">Discoteca</a></li>

          </ul>
          <div class="tab-content row">
            <div role="tabpanel" class="tab-pane fade in active col-md-12 height100 custom-scroll" id="restaurante">
              <% x= 0 %>
              <% @restaurants.each_with_index do |u,i| %>
                <% if u.branches.count > 0 and !u.branches[0].night_club %>
                  <div class= "col-xs-3 col-xs-offset-2">
                    <% if !(u.featured_image.blank?) %>

                     <img src="/assets/uploads/restaurants/<%= u.featured_image%>" class="img-responsive img-circle" style="width:303px" data-toggle="popover" data-trigger="focus" onclick="populateBranches('<%= u.id.to_s+"|"+u.slug %>',this);" data-placement="<%= (x).to_i.even? ? "right" : "left" %>">
                     
                   <% else %>
                      <img src="/assets/dining-default.png" class="img-responsive img-circle" style="width:303px" data-toggle="popover" data-trigger="focus" onclick="populateBranches('<%= u.id.to_s+"|"+u.slug %>',this);" data-placement="<%= (x).to_i.even? ? "right" : "left" %>">
                      
                    <% end %>
                    <h4 style="text-align:center;font-weight:bold;"><%= u.title %></h4>
                  </div>
                  <% x=x+1 %>
                <% end %>   
              <% end %>  
              
            </div>
            <div role="tabpanel" class="tab-pane fade height100 custom-scroll" id="discoteca">
             <% x= 0 %>
              <% @restaurants.each_with_index do |u,i| %>
                <% if u.branches.count > 0 and u.branches[0].night_club %>
                  <div class= "col-xs-3 col-xs-offset-2">
                    <% if !(u.featured_image.blank?) %>

                     <img src="/assets/uploads/restaurants/<%= u.featured_image%>" class="img-responsive img-circle" style="width:303px" data-toggle="popover" data-trigger="focus" onclick="populateBranches('<%= u.id.to_s+"|"+u.slug %>',this);" data-placement="<%= (x).to_i.even? ? "right" : "left" %>">
                     
                   <% else %>
                      <img src="/assets/dining-default.png" class="img-responsive img-circle" style="width:303px" data-toggle="popover" data-trigger="focus" onclick="populateBranches('<%= u.id.to_s+"|"+u.slug %>',this);" data-placement="<%= (x).to_i.even? ? "right" : "left" %>">
                      
                    <% end %>
                    <h4 style="text-align:center;font-weight:bold;"><%= u.title %></h4>
                  </div>
                  <% x=x+1 %>
                <% end %>   
              <% end %>  

            </div>
          </div>
        </div>
        <div class="col-md-4 white height100">
          <div class="heading2 row">
            <h1 class="col-lg-offset-2 col-xs-offset-2 col-sm-offset-0 col-xs-7 col-sm-10 col-lg-7 ">
              <strong>2 | </strong>Completa
            </h1>
            <div class="col-xs-2  ">
              <img src="/assets/arrow-down-right.png" class="img-responsive">
            </div>
          </div>
          <%= form_for(:reservation, :url=>{:controller=>'reservations',:action=>'create'},:multipart=>true , :html => {:id => "reservation-form",:class =>"form-horizontal"}) do |f| %>
          <%= render(:partial => "form",:locals=>{:f=>f})%>
          <% end %>
          
            
          
        </div>
      </div>
    </div>
  
     <div class="modal fade" id="loginFormRemote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Inicia Sesion</h2>
          </div>
          <div class="modal-body">
           <%= form_for(:user , url: session_path(:user) , :remote =>true ,:html => {:id=>"login-form",:class=>"form-horizontal"}) do |f| %>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.email_field(:email ,:class => "form-control",:placeholder =>"Email") %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Password" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">iniciar sesión</button>
                </div>
              </div>
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
  
    <div class="modal fade row home" id="time-slots">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="modal-content row">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title" style="text-align:center">Available Time Slots (Click To Select)</h1>
          </div>
          
          <div class="modal-body table-responsive">
            <table class="table" id="slots">
              <tbody></tbody>
            </table>
          </div> 

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   
 