
          <div class="form-group">
            <div class="col-md-6 ">
              <%= f.email_field(:email,:class => 'form-control' , :placeholder =>"Email")%>
            </div>
             <div class="col-md-6 ">
            <% if @branch.id.blank? %>
              <%= f.time_zone_select(:time_zone,nil,{:include_blank => "Time Zone"},{:class => "form-control"})  %>
              <% else %>
              
                <%= f.text_field(:time_zone,:class => 'form-control',:readonly=>true) %>
              
              <% end %>
            </div>
           
          </div>
          <div class="form-group">
            <div class="col-md-6 ">
              <%= f.text_field(:address,:class => 'form-control' , :placeholder =>"Address")%>
            </div>
            <div class="col-md-6 ">
              <%= f.text_field(:phone,:class => 'form-control' , :placeholder =>"Phone No.")%>
            </div>
           
          </div>
        <div class="form-group">
            <div class="col-md-6 ">
            <% if !@branch.id.blank? %>
              <%= f.text_field(:open,:class => 'form-control timepicker' , :placeholder =>"Opening Time",:value => @branch.open.strftime("%I:%M:%S %p %Z") )%>
              <% else %>
              <%= f.text_field(:open,:class => 'form-control timepicker' , :placeholder =>"Opening Time" )%>
              <% end %>
            </div>
            <div class="col-md-6 ">
              <% if !@branch.id.blank? %>
              <%= f.text_field(:close,:class => 'form-control timepicker' , :placeholder =>"Closing Time",:value => @branch.close.strftime("%I:%M:%S %p %Z") )%>
              <% else %>
              <%= f.text_field(:close,:class => 'form-control timepicker' , :placeholder =>"Closing Time" )%>
              <% end %>  </div>
           
          </div>
          
  
         
         
         