<%= link_to("Dashboard",{:controller=>'admin',:action=>'index'},:class=>'action admin index')%> | 
<%= link_to("Restaurants",{:controller=>'restaurants',:action=>'index'},:class=>'action admin index')%> | 
<%= link_to("Add Branch",{:action=>'new'},:class=>'action branch new') %>
<h1>Details</h1>
<table class="listing" summary="Branch list">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Title</th>
    
    <th>Status</th>

    <th>Actions</th>
  </tr>
  <% @branches.each_with_index do |d,i| %>
  <tr class="">
    <td class="position"><%= i+1 %></td>
    <td><%= d.title %></td>
    <td><%= d.status ? "Published" : "Unpublished" %></td>
    <td class="actions">
     	  <%= link_to("Edit", {:action => "edit" , :slug => d.slug}, :class => 'action edit') %>
      	<%= link_to 'Delete' , {:action => "destroy" , :slug => d.slug}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, "data-type" => :json , :class => 'delete_row' %>
      
    </td>
  </tr>
  <% end %>
</table>