
<div class="container-fluid content">

<div class="breadcrumb">Customers<% if user_signed_in? %>
      <strong> | <%= current_user.name %></strong>
      <% end %></div>
<div class="row table-yellow">
<table class="table table-striped" summary="Restaurant list">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Membership No.</th>
    <th>Email </th>
    <th>Phone No.</th>
     <% if current_user.role_id == 1 %>
    <th>Actions</th>
    <th>Remove</th>
    <% end %>
  </tr>
  <% @users.each_with_index do |data,i| %>
  <tr class="">
    <td class="position"><%= i+1 %></td>
    <td><%= data.name %></td>
    <td><%= data.membership %></td>
    <td><%= data.email %></td>
  	<td><%= data.phone %></td>
    <% if current_user.role_id == 1 %>
    <td class="actions">
      	
     		<%= form_tag({:action=>'update' , :membership => data.membership},:method => "patch" ,:remote => true, :class => "ajax-form") do %>
     			<%= hidden_field_tag("role_id",1)%>
     			<%= submit_tag("Admin",:class => "ajax-button",:disabled => data.role_id == 1 ? true : false)%>
     		<% end %>
     		<%= form_tag({:action=>'update' , :membership => data.membership},:method => "patch" ,:remote => true, :class => "ajax-form") do %>
     			<%= hidden_field_tag("role_id",2)%>
     			<%= submit_tag("Restaurant Owner",:class => "ajax-button", :disabled => data.role_id == 2 ? true : false)%>
     		<% end %>
     		<%= form_tag({:action=>'update' , :membership => data.membership},:method => "patch" ,:remote => true, :class => "ajax-form") do %>
     			<%= hidden_field_tag("role_id",3)%>
     			<%= submit_tag("Customer",:class => "ajax-button",:disabled => data.role_id == 3 ? true : false)%>
     		<% end %>
     	
    </td>
    <td>
      <%= link_to 'Remove' , {:action => 'destroy' , :membership => data.membership}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, "data-type" => :json , :class => 'delete_row', :style => "color:black"  %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
</div></div>
