
<table summary="Reservation form fields">
<tbody>
  <tr>
    <th><%= f.label(:reservation_name,"Reservation Name")%></th>
    <td><%= f.text_field(:reservation_name,:readonly=>@reservation.id.blank? ? false : true,:placeholder=>"Optional" )%></td>
  </tr>
  <tr>
    <th><%= f.label(:user_id, "Email") %></th>

    <td><%= f.text_field(:user_id,:readonly=>@reservation.id.blank? ? false : true,:placeholder=>"Required" )  %></td>
  </tr>
  <tr>
    <th><%= label_tag(:restaurant_id, "Restaurants") %></th>
    <% if @reservation.id.blank? %>
    <td><%= select_tag(:restaurant_id, options_for_select(@restaurants), :id => "restaurant_id", :onchange => "populateBranches(this.value);") %></td>
    <% else %>
    <td><%= @reservation.branch.restaurant.title %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= f.label(:branch_id, "Branches") %></th>
    <% if @reservation.id.blank? %>
    <td><%= select_tag(:branch_id, options_for_select([]),:onchange => "assignBranchValue(this.value);") %>
    <%= f.hidden_field(:branch_id) %>
    </td><% else %>
    <td><%= @reservation.branch.title %>
    <%= f.hidden_field(:branch_id) %>
    </td>
    <% end %>
    
  </tr>
  <tr>
    <th><%= label_tag(:date,"Reservation Date")%></th>
    <td><%= text_field_tag(:date, @date ,:placeholder=>"MM-DD-YYYY") %></td>
  </tr>
  <tr>
    <th><%= label_tag(:time,"Reservation Time")%></th>
    <td><%= select_tag(:hours, options_for_select((1..12),@reservation.booking.strftime("%I").to_i)) %><%= select_tag(:mins, options_for_select([0,30],@reservation.booking.strftime("%M").to_i)) %><%= select_tag(:meri, options_for_select(["AM","PM"],@reservation.booking.strftime("%p"))) %></td>
  </tr>
  <% if !@reservation.id.blank? %>
  <tr>
    <th><%= f.label(:status, "Status") %></th>
    <td><%= f.select(:status, options_for_select([['Active',1],['Expired',0]],(@reservation.status ? 1 : 0))) %></td>
  </tr>
  <% end %>
  <tr>
    <th><%= f.label(:people, "No. of People") %></th>
    <td><%= f.select(:people, options_for_select((1..20),@reservation.people)) %></td>
  </tr>
  <tr>
    <th><%= label_tag(:time_zone) %></th>
    <% if @reservation.id.blank? %>
    <td><%= text_field_tag :time_zone," ", :readonly =>true %> </td>
    <% else %>
    <td><%= text_field_tag :time_zone,@reservation.branch.time_zone,:readonly =>true %></td>
    <% end %>
  </tr>
  </tbody>
</table>
