<%= link_to("Reservations",{:controller=>'reservations',:action=>'index'},:class=>'action index')%>
<h1>Create Reservation</h1>
<%= form_for(:reservation, :url=>{:action=>'create'},:multipart=>true) do |f| %>
<%= error_messages_for(@reservation) %>
<table summary="Reservation form fields">
  <tr>
    <th><%= f.label(:reservation_name,"Reservation Name")%></th>
    <td><%= f.text_field(:reservation_name)%></td>
  </tr>
  <tr>
    <th><%= label_tag(:date,"Reservation Date")%></th>
    <td><%= text_field_tag(:date,@date ,:placeholder=>@date) %></td>
  </tr>
  <tr>
    <th><%= label_tag(:time,"Reservation Time")%></th>
    <td><%= text_field_tag(:time, @time ,:placeholder=>@time) %></td>
  </tr>
  <tr>
    <th><%= label_tag(:restaurant_id, "Restaurants") %></th>
    <td><%= select_tag(:restaurant_id, options_for_select(@restaurants), :id => "restaurant_id", :onchange => "populateBranches(this.value);") %></td>
  </tr>
  <tr>
    <th><%= f.label(:branch_id, "Branches") %></th>
    <td><%= select_tag(:branch_id, options_for_select([]),:onchange => "assignBranchValue(this.value);") %>
    <%= f.hidden_field(:branch_id) %>
    </td>
  </tr>
  <tr>
    <th><%= f.label(:people, "No. of People") %></th>
    <td><%= f.text_field(:people) %></td>
  </tr>
  <tr>
    <th><%= f.label(:user_id, "Membership No.") %></th>
    <td><%= f.text_field(:user_id) %></td>
  </tr>
</table>
<div class="form-buttons">
  <p id="notice" style="display:none;"></p>
  <input type="button" value= "Check Availability" onclick="checkAvailability(this)" />
</div>
<% end %>