<%= error_messages_for(@table) %>
<table summary="Table form fields">
  <tr>
    <th><%= f.label(:title,"Title")%></th>
    <td><%= f.text_field(:title)%></td>
  </tr>
  <tr>
    <th><%= f.label(:slug,"Slug")%></th>
    <td><%= f.text_field(:slug)%></td>
  </tr>
  <tr>
    <th><%= f.label(:chairs,"Seating Capacity (in no of chairs per table)")%></th>
    <td><%= f.text_field(:chairs)%></td>
  </tr>
  <tr>
    <th><%= f.label(:status, "Status") %></th>
    <td><%= f.select(:status, options_for_select([['Published',1],['Unpublished',0]],(@table.status ? 1 : 0))) %></td>
  </tr>
  <tr>
    <th><%= f.label(:position,"Position")%></th>
    <td><%= f.select(:position, 1..@table_count)%></td>
  </tr>
  <tr>
    <th><%= f.label(:featured_image) %></th>
    <td><%= f.file_field(:featured_image) %></td>
  </tr>
  
  
 
</table>