<%= error_messages_for(@restaurant) %>


  <div class="form-group">
            <div class="col-md-6 ">
              <%= f.text_field(:title,:class => 'form-control' , :placeholder =>"Title")%>
            </div>
            <div class="col-md-6 ">
              <%= f.text_field(:slug , :class => 'form-control' , :placeholder =>"Slug")%>
            </div>
          </div>
          <div class="form-group">
             <div class="col-md-6 ">
              <%= f.select(:status, options_for_select([['Published',1],['Unpublished',0]],(@restaurant.status ? 1 : 0)),{},{ :class=>"form-control"}) %>
            </div>
            <div class="col-md-6 ">
              <%= f.file_field(:featured_image , :class => 'form-control' , :placeholder =>"Featured Image") %>
            </div> 
          </div>
          <% if current_user.role.role == "admin" %>
          <div class="form-group">
            <div class="col-md-6 ">
              <%= f.select(:user_id, options_from_collection_for_select(@users,"id","name",@restaurant.user_id), {:include_blank => 'Select User'},{ :class=>"form-control"}) %>
            </div>
          </div>
          <%   end %>
          <div class="form-group">
            <div class="col-md-8 ">
              <%= f.text_area(:description, :size => '40x6' , :class => 'form-control' , :placeholder =>"Description") %>
            </div>
           
          </div>