

<div class="container-fluid content">
      <div class="breadcrumb">reserva de edición<% if user_signed_in? %>
      <strong> | <%= current_user.name %></strong>
      <% end %></div>
      <div class="row form-yellow">
        <div class="col-md-2 col-md-push-10">
          
                    <img src="<%= @restaurant.logo.url %>" class="img-responsive img-circle" id="featured_image" >
                      
        
        </div>
        <%= form_for(:restaurant, :url=>{:action => 'update', :slug => @restaurant.slug},:method=>"put",:multipart=>true, :html => {:class=>"form-horizontal col-md-10  col-md-pull-2"}) do |f| %>
        <%= render(:partial => "form",:locals=>{:f=>f})%>
        <div class="form-group">
            <div class="col-md-6">
             	<button type="submit" class="form-control" >Edit Restaurant</button>
            </div>
            <div class="col-md-6">
            	<input type="button" class="form-control" onclick="$('.remove_image').click();" value="Remove Restaurant Logo">
             	 <%= link_to 'Remove Featured Image' , {:action => 'remove_image' , :slug => @restaurant.slug}, method: :patch, data: { confirm: 'Are you sure?' }, :remote => true, "data-type" => :json , :class => 'remove_image',:style=>"display:none" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>