<div class="container-fluid content">

<div class="breadcrumb">restaurantes<% if user_signed_in? %>
      <strong> | <%= current_user.name %></strong>
      <% end %><strong> | <%= link_to("Add Restaurant",{:action=>'new'},:class=>'action restaurant new' , :style => "") %>
</strong></div>
      <div class="row table-yellow">
<table class="table table-striped" summary="Restaurant list">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Title</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @restaurants.each_with_index do |d,i| %>
  <tr class="">
    <td class="position"><%= i+1 %></td>
    <td><%= d.title %></td>
    <td><%= d.status ? "Published" : "Unpublished" %></td>
    <td class="actions">
     	  <%= link_to("Details", edit_restaurant_detail_path(d.slug,d.branches[0].slug), :class => 'action branches', :style => "color:black") %> |
      	<%= link_to("Edit", {:action => 'edit', :slug => d.slug}, :class => 'action edit' , :style => "color:black") %> |
      	<%= link_to 'Delete' , {:action => 'destroy' , :slug => d.slug}, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, "data-type" => :json , :class => 'delete_row' , :style => "color:black" %>
    </td>
  </tr>
  <% end %>
  
</table>
</div>
</div>

</div>