<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.first.title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="google-site-verification" content="HP8IyDRmdDtqq9eh2W0-jFiQmBKqznbFz1V48inza3Y" />
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->

<%= yield %>
  <div class="footer container-fluid">
  <ul class="nav nav-pills nav-justified footer-nav">
    <% if !current_page?(root_url) %>
    <li><%= link_to "Make a Reservation", {:controller => :main ,:action => :index}, :class => 'navbar-link'  %></li>
    <% end %>
    <% if user_signed_in? %>
    <li><%= link_to("Reservations",{:action=>'reservations',:controller=>'main'},:class=>'action index')%></li>
    <% end %>
    <% if user_signed_in? && current_user.role_id != 3   %>
    <li><%= link_to "Dashboard", {:controller => :admin ,:action => :index}, :class => 'navbar-link'  %></li>
    <% end %>
    <li> <a  data-toggle="modal" data-target="#contactForm"> contacto</a></li>
    <li><a>terminos y condiciones</a></li>
    <% if user_signed_in? %>
    <li><a data-toggle="modal" data-target="#editDetailsForm">Update User Details</a></li>
    <li><%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link'  %></li>

    <% else %>
    <li><a data-toggle="modal" data-target="#loginForm">Inicia Sesion</a></li>
    <li><a data-toggle="modal" data-target="#registrationForm">Registrarse</a></li>
    <% end %>
    <% if user_signed_in? && current_user.role_id == 3   %>
    <!-- <li><%= link_to "Upgrade Membership", {:controller => :main ,:action => :convert_user}, method: :patch, :class => 'navbar-link'  %></li> -->
    <% end %>
    <li><a>copyright &copy; webideaco.com</a></li>
  </ul>
    
  </div>

    <div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Inicia Sesion</h2>
          </div>
          <div class="modal-body">
           <%= form_for(:user , url: session_path(:user) , :html => {:class=>"form-horizontal"}) do |f| %>
            <% if !flash[:invalid_user].blank? %>
            <div style="text-align:center;width:100%;">
             <%= flash[:invalid_user] %>
             </div>
              <% end %>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.email_field(:email ,:class => "form-control",:placeholder =>"Email") %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Password" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">iniciar sesión</button>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <input type="button" class="form-control" value="Registarse" data-dismiss="modal" data-toggle="modal" data-target="#registrationForm" >
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <input type="button" class="form-control" value="Olvidaste tu contraseña?" data-dismiss="modal" data-toggle="modal" data-target="#passwordForm" >
                </div>
              </div>
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
      <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Contacto</h2>
          </div>
          <div class="modal-body">
            
           <%= form_tag('/contact-us', multipart: true , :class=>"form-horizontal") do %>
              <div class="form-group">
                <div class="col-xs-6">
                  <input type="text" class="form-control"  placeholder="Nombre" name="name">
                </div>
                <div class="col-xs-6">
                  <input type="email" class="form-control"  placeholder="Email" name="email">
                </div>
              </div>
              <div class="form-group">
                
                <div class="col-xs-12">
                  <input type="text" class="form-control"  placeholder="Subject" name="subject">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 ">
                  <textarea type="password" class="form-control"  placeholder="Comentario" name="message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">Send Message</button>
                </div>
              </div>
             <% end %>
            
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade" id="registrationForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Registrarse</h2>
          </div>
          <div class="modal-body">
          <%= form_for(:user , url: registration_path(:user) , :html => {:class=>"form-horizontal"}) do |f| %>
          <% if !flash[:registration_errors].blank? %>
           <%= error_messages_for(flash[:registration_errors]) %>
           <% end %>
           
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.text_field(:name ,:class => "form-control",:placeholder =>"Nombre",:value=> @user.name) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.text_field(:phone ,:class => "form-control",:placeholder =>"Telf",:value=> @user.phone) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.email_field(:email ,:class => "form-control",:placeholder =>"Correo electrónico",:value=> @user.email) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Contraseña" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder =>"confirmar Contraseña" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">Registrarse</button>
                </div>
              </div>
              
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class="modal fade" id="editDetailsForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Edit Details</h2>
          </div>
          <div class="modal-body">
          <% if !flash[:edit_detail_errors].blank? %>
           <%= error_messages_for(flash[:edit_detail_errors]) %>
           <% end %>
           <%= form_for(:user, url: registration_path(:user), html: { method: :put, :class => "form-horizontal" }) do |f| %>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.text_field(:name ,:class => "form-control",:placeholder =>"Nombre" , :value=>current_user.name) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.text_field(:phone ,:class => "form-control",:placeholder =>"Telf" , :value=>current_user.phone) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.email_field(:email ,:class => "form-control",:placeholder =>"Correo electrónico", :value=>current_user.email) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Contraseña" %>
                  <i>(leave blank if you don't want to change it)</i>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder =>"confirmar Contraseña" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :current_password, autocomplete: "off",:class => "form-control",:placeholder =>"Current Password" %>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">Update</button>
                </div>
              </div>
              
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <% end %>
    <div class="modal fade" id="passwordForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Restablecer La Contraseña</h2>
          </div>
          <div class="modal-body">
           <%= form_for(:user , url: password_path(:user) , :html => {:class=>"form-horizontal"}) do |f| %>
              
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.email_field(:email ,:class => "form-control",:placeholder =>"Correo electrónico") %>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">Restablecer La Contraseña</button>
                </div>
              </div>
              
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade" id="passwordRenewForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Enter New Password</h2>
          </div>
          <div class="modal-body">
           <%= form_for(:user, url: password_path(:user), html: { method: :put , :class=>"form-horizontal"}) do |f| %>
              <%= f.hidden_field :reset_password_token , :value =>flash[:reset_token] %>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Contraseña" %>
                  
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder =>"confirmar Contraseña" %>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-8">
                  <button type="submit" class="form-control">Update Password</button>
                </div>
              </div>
              
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Submission Errors</h2>
          </div>
          <div class="modal-body">
          <% if !flash[:error_model].blank? %>
           <%= error_messages_for(flash[:error_model]) %>
           <% end %>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal fade" id="FlashNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="/assets/header-image.png" class="img-responsive" style="margin:0 auto;">
            <h2>Notice</h2>
          </div>
          <div class="modal-body">
          <div style="width:100%; text-align:center;">
          <% if !@notice.blank? %>
           <%= @notice %>
           <% end %>
           <% if !flash[:alert].blank? %>
           <%= flash[:alert] %>
           <% end %>
           </div>
          </div>
          
        </div>
      </div>
    </div>
<!--
Google Analytics
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47849197-5', 'auto');
  ga('send', 'pageview');
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if !flash[:invalid_user].blank? %>
<script>
  $(document).ready(function(){
    $("#loginForm").modal("show");
  });

</script>
<% end %>
<% if !flash[:register].blank? or !flash[:registration_errors].blank? %>
<script>
  $(document).ready(function(){
    $("#registrationForm").modal("show");
  });

</script>
<% end %>
<% if !flash[:error_model].blank? %>
<script>
  $(document).ready(function(){
    $("#ErrorModal").modal("show");
  });

</script>
<% end %>
<% if !@notice.blank? or !flash[:alert].blank?  %>
<script>
  $(document).ready(function(){
    $("#FlashNotice").modal("show");
  });

</script>
<% end %>
<% if !flash[:edit_detail_errors].blank?   %>
<script>
  $(document).ready(function(){
    $("#editDetailsForm").modal("show");
  });

</script>
<% end %>
<% if !flash[:reset_token].blank?   %>
<script>
  $(document).ready(function(){
    $("#passwordRenewForm").modal("show");
  });

</script>
<% end %>
 <script>
 $(document).ready(function(){
    $(".form-control.register-button").click(function(){
      $(".modal").modal("hide");
      $("#registrationForm").modal("show");
    });
    $(".form-control.forgot-password").click(function(){
      $(".modal").modal("hide");
      $("#passwordForm").modal("show");
    });
 });
 </script>
</body>
</html>
